body { margin-left: 1em; margin-right: 1em; font-size: medium; font-family: "Palatino", "Times New Roman", serif; }
h1.title { font-size: medium; font-weight: bold; clear: none; }
h2 { font-size: medium; font-weight: bold; }
table { margin: 0; padding: 0; border-collapse: collapse; }
td { margin: 0; padding: 0; text-align: left; }
tr { padding: 0; margin: 0; }
table.results td { padding-bottom: 0.5em; padding-top: 0.5em; padding-right: 2em; border-top-style: solid; border-top-width: 1px; border-top-color: #868686; }
table.results th { text-align: left; padding: 0; margin: 0; font-size: medium; font-weight: normal; font-style: italic }
ul.dirlist { cursor: default; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a.file { }
a.highlighted { background: yellow; }
td.searchbutton { padding-left: 0.5em; }
hr { border-top-color: #868686; border-top-style: solid; border-top-width: 1px; border-bottom-style: none; border-left-style: none; border-right-style: none; margin-bottom: 2em; }
li { list-style-image: none; }
li.linknode { padding-bottom: 0.5em; }
/*li.node { cursor: default; }*/
li.file { list-style-type: circle; }
li.dir { list-style-image: url("arrow.png"); }
li.opendir { list-style-image: url("downarrow.png"); }
td.meta { padding-top: 0.5em; }
td.meta table { float: right; }
small.snippet { color: #868686 }
small.snippet em { font-style: normal; font-weight: bold; color: black; }
/*td.cb:hover { cursor: default; }*/
td.nomoresnippets { font-size: small; text-align: center; color: red; }
img.loading { }
div.dircontainer { }
.diraction { color: #868686; text-decoration: none; font-weight: bold; font-family: sans-serif; font-size: small; }
div.dirheader { }
.uploaderror { background: #FF6600; }
.uploadprogress { font-weight: bold; font-family: sans-serif; font-size: small; }
div.headerlinks { font-size: small; font-family: sans-serif; padding-bottom: 0.25em; clear: none; }
div.headerlinks a { text-decoration: none; color: black; font-weight: bold; }
div.headerlinks a:hover { text-decoration: underline; }
div.headerlinks a:visited { color: black; }
div.headerlinksright { float: right; }
div.headerlinksleft { float: left; }
hr.hhr { clear: both; }
div.rightmenu { position: fixed; right: 1em; top: 50px; background: #CC66FF; }
div.rightmenu li { list-style: none; font-size: small; font-weight: bold; font-family: sans-serif; text-decoration: none; cursor: pointer; }
div.rightmenu li:hover { text-decoration: underline; }
div.rightmenu ul { margin-top: 0.25em; margin-bottom: 0.25em; margin-left: 0.25em; margin-right: 0.25em; padding: 0; }
a.oldway { color: black; font-weight: bold; text-decoration: none; }
a.oldway:visited { color: black; }
a.parentlink { color: #868686; font-weight: bold; font-family: sans-serif; font-size: small; }
span.parentlink { color: #868686; font-weight: normal; font-family: sans-serif; font-size: small; text-decoration: none; }

