body { margin-left: 1em; font-size: medium; }
h1.title { font-size: medium; font-weight: bold; }
h2 { font-size: medium; font-weight: bold; }
table { margin: 0; padding: 0; border-collapse: collapse; }
td { margin: 0; padding: 0; text-align: left; }
tr { padding: 0; margin: 0; }
table.results td { padding-bottom: 0.5em; padding-top: 0.5em; padding-right: 2em; border-top-style: solid; border-top-width: 1px; border-top-color: grey; }
table.results th { text-align: left; padding: 0; margin: 0; font-size: medium; font-weight: normal; font-style: italic }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
td.searchbutton { padding-left: 0.5em; }
hr { border-top-color: grey; border-top-style: solid; border-top-width: 1px; border-bottom-style: none; border-left-style: none; border-right-style: none; margin-bottom: 2em; }
li.linknode { list-style-type: none; padding-bottom: 0.5em; }
li { list-style-image: none; }
li.node { cursor: pointer; }
li.file { list-style-type: circle; }
li.dir { list-style-image: url("arrow.png"); }
li.opendir { list-style-image: url("downarrow.png"); }
td.meta { padding-top: 0.5em; }
td.meta table { float: right; }
small.snippet { color: grey }
small.snippet em { font-style: normal; font-weight: bold; color: black; }
td.cb:hover { cursor: default; }
td.nomoresnippets { font-size: small; text-align: center; color: red; }
